{% extends 'base2.html'%}

{% load static %}

{% block content %}

<!-- Login Part -->
<div class="bg-gray-100 py-10 ">

    <main class="p-3  bg-white main sm:max-w-md m-auto md:w-11/12 m-auto rounded border">
        <!-- If any messages -->

        {% if messages %}
        {% for message in messages %}
        <div id="message" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 my-3 rounded relative"
            role="alert">
            <strong class="font-bold">{{message.level }}</strong>
            <span class="block sm:inline">{{ message}}</span>
        </div>
        {% endfor %}
        {% endif %}
        <div class=" flex justify-center items-center p-1 bg-my-blue">
            <div class="logo flex-none ">
                <svg class='w-iconWidth ml-2' aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="graduation-cap" class="svg-inline--fa fa-graduation-cap fa-w-20" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                    <path fill="white"
                        d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z">
                    </path>
                </svg>
                <a href="#" class="text-2xl">BAC</a>
            </div>
        </div>
        <div class="best-result ">
            <div class="title-best  my-3 bg-my-green p-3 text-center text-lg">
                <p class="font-black text-2xl">
                    Bienvenue
                </p>
                <p class="text-thin">
                    Enter votre email et mot de passe
                </p>
            </div>
        </div>
        <form class="inputs" action="#" method="post">
            {% csrf_token %}
            <div class="my-4">
                <label class="block text-my-gray text-sm font-bold mb-2" for="username"></label>
                <input
                    class="appearance-none border rounded w-full py-2 px-3 text-my-blue leading-tight focus:outline-none focus:ring-2 focus:ring-my-blue focus:border-transparent"
                    placeholder="nom d'utilisateur email" type="username" name="username" value=''>
            </div>
            <div class="my-4">
                <label class="block text-my-gray text-sm font-bold mb-2" for="my_id"></label>
                <input
                    class="appearance-none border rounded w-full py-2 px-3 text-my-blue leading-tight focus:outline-none focus:ring-2 focus:ring-my-blue focus:border-transparent"
                    placeholder='id jury' type="number" name="my_id" value=''>
            </div>
            <div class="my-4">
                <label class="block text-my-gray text-sm font-bold mb-2" for="password"></label>
                <input
                    class="appearance-none border rounded w-full py-2 px-3 text-my-blue leading-tight focus:outline-none focus:ring-2 focus:ring-my-blue focus:border-transparent"
                    placeholder='mot de passe' type="password" name="password" value=''>
            </div>
            <button
                class="bg-my-green w-full hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                se connecter
            </button>
        </form>
        <p class="text-center mt-3 p-2"><span class="text-black">Pas de compte? &nbsp </span><a
                class="text-my-green hover:text-green-800" href="{% url 'register_admin' %}"> s'inscrire</a>
        </p>
    </main>
</div>
{% endblock %}