{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Showcase Section -->

<section class="showcase" style="background-image: url('{% static "img/1-bg.png"%}'); ;background-repeat:no-repeat;
background-position: center center;background-size: cover;">
    <div class="container md:w-10/12 m-auto">
        <div class="md:flex md:flex-row flex-col justify-between h-full ">
            <div class="text-center flex-grow justify-self-center self-center flex flex-col">
                <div class=" inside-div  text-xl leading-loose mt-5">
                    <h1 class="font-thin text-white text-2xl">Lorem Ipsum</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, quasi.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="btn my-3 font-black">

                    <a href="{% url 'feature' %}"
                        class='bg-blue-700 p-1 pl-2 w-28 rounded mr-2 hover:bg-blue-900 hover:text-white'>Chercher
                    </a>
                    <a href='#table' class='p-1 pl-2  bg-my-green w-28 rounded hover:bg-green-700 '>Voir
                        meilleur
                    </a>
                </div>
            </div>
            <div class=" flex-shrink-0 justify-self-end h-full flex justify-center">
                <img src="{% static 'img/2-img1.png' %} " class="self-end w-2/3 " alt="">
            </div>
        </div>
    </div>
</section>

<!-- Serie Section -->

<div class="serie my-7">
    <!-- If any messages -->
    {% if messages %}
    {% for message in messages %}
    <div id="message"
        class="text-center my-3 container md:w-8/12 m-auto bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
        role="alert">
        <strong class="font-bold">{{message.level }}</strong>
        <span class="block sm:inline">{{ message}}</span>
    </div>
    {% endfor %}
    {% endif %}
    <div class="grid container md:w-10/12 m-auto md:grid-cols-3 sm:grid-cols-1 gap-5 text-black ">
        <div class="serie-s bg-my-gray p-8 rounded text-white text-center">
            <div class="img-flex flex justify-center mb-4 ">
                <svg class='w-serieIconWidth justify-self-center' aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="brain" class="svg-inline--fa fa-brain fa-w-18" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="#10B981"
                        d="M208 0c-29.9 0-54.7 20.5-61.8 48.2-.8 0-1.4-.2-2.2-.2-35.3 0-64 28.7-64 64 0 4.8.6 9.5 1.7 14C52.5 138 32 166.6 32 200c0 12.6 3.2 24.3 8.3 34.9C16.3 248.7 0 274.3 0 304c0 33.3 20.4 61.9 49.4 73.9-.9 4.6-1.4 9.3-1.4 14.1 0 39.8 32.2 72 72 72 4.1 0 8.1-.5 12-1.2 9.6 28.5 36.2 49.2 68 49.2 39.8 0 72-32.2 72-72V64c0-35.3-28.7-64-64-64zm368 304c0-29.7-16.3-55.3-40.3-69.1 5.2-10.6 8.3-22.3 8.3-34.9 0-33.4-20.5-62-49.7-74 1-4.5 1.7-9.2 1.7-14 0-35.3-28.7-64-64-64-.8 0-1.5.2-2.2.2C422.7 20.5 397.9 0 368 0c-35.3 0-64 28.6-64 64v376c0 39.8 32.2 72 72 72 31.8 0 58.4-20.7 68-49.2 3.9.7 7.9 1.2 12 1.2 39.8 0 72-32.2 72-72 0-4.8-.5-9.5-1.4-14.1 29-12 49.4-40.6 49.4-73.9z">
                    </path>
                </svg>
            </div>
            <h3 class=' font-black'>BAC S</h3>
            <p class="font-black text-left my-3">Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor.</p>
            <button class='font-black bg-my-blue w-28 rounded mr-2 hover:bg-blue-900 hover:text-white'>
                Chercher
            </button>
        </div>
        <div class="serie-s bg-my-gray p-8 rounded text-white text-center">
            <div class="img-flex flex justify-center mb-4 ">
                <svg class='w-serieIconWidth justify-self-center' aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="microscope" class="svg-inline--fa fa-microscope fa-w-16" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="#10B981"
                        d="M160 320h12v16c0 8.84 7.16 16 16 16h40c8.84 0 16-7.16 16-16v-16h12c17.67 0 32-14.33 32-32V64c0-17.67-14.33-32-32-32V16c0-8.84-7.16-16-16-16h-64c-8.84 0-16 7.16-16 16v16c-17.67 0-32 14.33-32 32v224c0 17.67 14.33 32 32 32zm304 128h-1.29C493.24 413.99 512 369.2 512 320c0-105.88-86.12-192-192-192v64c70.58 0 128 57.42 128 128s-57.42 128-128 128H48c-26.51 0-48 21.49-48 48 0 8.84 7.16 16 16 16h480c8.84 0 16-7.16 16-16 0-26.51-21.49-48-48-48zm-360-32h208c4.42 0 8-3.58 8-8v-16c0-4.42-3.58-8-8-8H104c-4.42 0-8 3.58-8 8v16c0 4.42 3.58 8 8 8z">
                    </path>
                </svg>
            </div>
            <h3 class=' font-black'>BAC T</h3>
            <p class="font-black text-left my-3">Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor.</p>
            <button class='font-black bg-my-blue w-28 rounded mr-2 hover:bg-blue-900 hover:text-white'>
                Chercher
            </button>
        </div>
        <div class="serie-s bg-my-gray p-8 rounded text-white text-center">
            <div class="img-flex flex justify-center mb-4 ">
                <svg class='w-serieIconWidth justify-self-center' aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="university" class="svg-inline--fa fa-university fa-w-16" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="#10B981"
                        d="M496 128v16a8 8 0 0 1-8 8h-24v12c0 6.627-5.373 12-12 12H60c-6.627 0-12-5.373-12-12v-12H24a8 8 0 0 1-8-8v-16a8 8 0 0 1 4.941-7.392l232-88a7.996 7.996 0 0 1 6.118 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.255 0-24 10.745-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.255-10.745-24-24-24zM96 192v192H60c-6.627 0-12 5.373-12 12v20h416v-20c0-6.627-5.373-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z">
                    </path>
                </svg>
            </div>
            <h3 class=' font-black'>BAC L</h3>
            <p class="font-black text-left my-3">Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor.</p>
            <button class='font-black bg-my-blue w-28 rounded mr-2 hover:bg-blue-900 hover:text-white'>
                Chercher
            </button>
        </div>

    </div>
</div>

<!-- Best Result Sections -->

<div class="best-result container md:w-10/12 m-auto">
    <div class="title-best sm:w-96 m-auto my-7 bg-my-green p-3 rounded text-center text-lg">
        <p class="font-black ">
            Meilleurs resultats de toutes les series
        </p>
    </div>
</div>

<!-- Table -->
<div class="table overflow-x-auto container md:w-10/12 m-auto">
    <table class="w-full border text-black text-center" id="table">
        <thead class="bg-my-green h-14 uppercase text-white font-black">
            <tr class="h-14">
                <th class="">rang</th>
                <th class="">Nom</th>
                <th class="">&#8470;</th>
                <th class="hide">Naissance</th>
                <th class="hide">lieu</th>
                <th class="hide">Jury</th>
                <th class="">Moyenne</th>
                <th class="hide">Mension</th>
                <th class="">Serie</th>
        </thead>
        <tbody class="text-thin">
            {% for grade in grades %}
            {% cycle 'odd' 'even' %}
            <tr {% if forloop.counter|divisibleby:2 %} class="h-10 " {% else %} class="h-10 bg-my-gray text-white"
                {% endif %}>
                <td>{{ forloop.counter }}</td>
                <td class="hover:text-my-green"><a href="{% url 'student_info' grade.id %}"
                        class="block">{{ grade.student.first_name}}
                        {{ grade.student.last_name}}</a> </td>
                <td>{{grade.student.student_number}}</td>
                <td class="hide">{{ grade.student.place_of_birth }} </td>
                <td class="hide">{{ grade.student.place_of_birth}}</td>
                <td class="hide">{{ grade.jury.jury_number}}</td>
                <td>{{ grade.grades}}</td>
                <td class="hide">{{ grade.appreciations}}</td>
                <td>{{ grade.student.serie}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <div class=" mb-5 bg-my-green h-12 w-full py-1 uppercase text-black font-black">
        <div class="flex  flex-col items-center ">
            {% if grades.has_other_pages %}
            <div class="flex text-white py-1 ">
                {% if grades.has_previous %}
                <div class="h-8 mr-1 w-8 flex justify-center items-center rounded-full bg-my-blue cursor-pointer">
                    <a href="?page={{ grades.previous_page_number}}" class='block'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4">
                            <polyline points="15 18 9 12 15 6"></polyline>
                        </svg>
                    </a>
                </div>
                {% else %}
                <button class="h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-my-blue cursor-pointer"
                    disabled>
                </button>
                {%endif %}
                {% for i in grades.paginator.page_range %}
                <div class=" flex h-8 font-medium rounded-full ">
                    {% if grades.number == i %}
                    <div
                        class="w-8 mr-1 md:flex hidden justify-center bg-my-gray items-center  leading-5 transition duration-150 ease-in  rounded-full  ">
                        <p class="text-white">{{i}}</p>
                    </div>
                    <div
                        class="w-8 mr-1 md:hidden flex justify-center bg-my-gray items-center  leading-5 transition duration-150 ease-in  rounded-full  ">
                        <p class="text-white">{{i}}</p>
                    </div>
                    {% else %}
                    <div
                        class="mr-1  w-8 md:flex hidden justify-center items-center bg-my-blue  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">
                        <a href="?page={{i}}" class="block"> {{i}}</a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% if grades.has_other_pages %}
                <div class="flex text-white mr-1  ">
                    {% if grades.has_next %}
                    <div class="h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-my-blue cursor-pointer">
                        <a href="?page={{ grades.next_page_number}}" class='block'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </a>
                    </div>

                    {% else %}
                    <button class="h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-my-blue cursor-pointer"
                        disabled>
                    </button>
                    {%endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}