{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baccalaureate | Home</title>
    <!-- Link to tailwindcss -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <!-- Link to Style css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Link to jquery -->
</head>

<body>

    <!-- Bringing our top bar -->
    {% include 'partials/_topbar.html' %}

    <!-- Bringing our navbar -->
    {% include 'partials/_navbar.html' %}

    <!-- Bringing our content -->
    {% block content %}

    {% endblock %}

    <!-- Bringing our footer -->
    {% include 'partials/_footer.html' %}

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="{% static 'js/main.js' %}"></script>

</html>